In [1]:
import pandas as pd
source_4_au = {
    'author_id': [1, 2, 3],
    'author_name': ['Turgenev', 'Chekhov', 'Ostrovsky']
}

source_4_book = {
    'author_id' : [1, 1, 1, 2, 2, 3, 3],
    'book_title' : ['Otsiy i deti', 'Rudin', 'Dvoryanskoe gnezdo', 'Tolstiy i tonkiy', 
                   'Dama s sobachkoy', 'Groza', 'Talanty i poklonniki'],
    'price' : [450, 300, 350, 500, 450, 470, 290]
}

book = pd.DataFrame(source_4_book)

authors = pd.DataFrame(source_4_au)

In [3]:
authors_price = pd.merge(authors, book, on='author_id', how='outer')
authors_price

   author_id author_name            book_title  price
0          1    Turgenev          Otsiy i deti    450
1          1    Turgenev                 Rudin    300
2          1    Turgenev    Dvoryanskoe gnezdo    350
3          2     Chekhov      Tolstiy i tonkiy    500
4          2     Chekhov      Dama s sobachkoy    450
5          3   Ostrovsky                 Groza    470
6          3   Ostrovsky  Talanty i poklonniki    290